.dark-mode,
.dark-mode a,
.dark-mode button,
.dark-mode .container {
	background-color: #333 !important;
	color: #fff !important;
	opacity: .9
}

.dark-mode a {
	color: #a0a0a0
}

.equal-width-btn {
	width: 30%;
	margin: 0 1%
}

.smaller-select {
	width: 25%
}

body,
html {
	height: 100%
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.page-wrapper {
	flex: 1 0 auto
}

.container {
	background: #ffffffb3;
	border-radius: 40%
}