<footer>
  <div class="footer-card">
    <h2>Kapcsolat és További Információk</h2>
    <div class="contact-info">
      <h1>Dr. P<span>o</span>rkoláb Á<span>d</span>ám</h1>
      <p>Fullstack Fejlesztő</p>
      <div class="contact-links">
        <a
          href="&#109;a&#105;l&#116;&#111;:&#97;&#100;&#97;&#109;&#64;&#112;&#111;&#114;&#107;&#111;&#108;&#97;&#98;&#46;&#104;&#117;"
          >✉ Ide írhatsz!</a
        >
        <a href="https://www.adamporkolab.hu">🌐 www.adamporkolab.hu</a>
        <a href="https://github.com/APorkolab">🐱 https://github.com/APorkolab</a>
      </div>
    </div>
  </div>
</footer>
