/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #333;
  --background-color: #fff;
  --text-color: #333;
  --accent-color: #e91e63;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark-mode {
  --primary-color: #fff;
  --background-color: #333;
  --text-color: #fff;
  --accent-color: #ff4081;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
